{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} MAU Online Job Application {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}" />
  </head>
  <body>
    <nav class="nav">
      <div class="logo">
        <img src="{% static 'main/images/logo.png' %}" />
      </div>
      <ul class="nav-items">
        <li><a href="#">Home</a></li>
        <li><a href="#">Check Application Status</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">Sigin</a></li>
      </ul>
    </nav>
    <body>
      {% block content %} {% endblock %} {% block script %} {% endblock %}
    </body>
  </body>
</html>
